/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 set 2024, 11:03:04
    Author     : Salvatore
*/

#responsive-img {
    max-width: 100%;
    height: auto;
    max-height: 120px;
    object-fit: contain;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Cambria", serif;
    font-size: 1.2rem;
}