<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SavePresenceServlet</servlet-name>
        <servlet-class>Servlet.SavePresenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadAllegatoServlet</servlet-name>
        <servlet-class>Servlet.UploadAllegatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaAllegatiServlet</servlet-name>
        <servlet-class>Servlet.VisualizzaAllegatiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDipendentiPresenzaServlet</servlet-name>
        <servlet-class>Servlet.GetDipendentiPresenzaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTurniDipendentiServlet</servlet-name>
        <servlet-class>Servlet.GetTurniDipendentiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadFile</servlet-name>
        <servlet-class>Servlet.DownloadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDettagliPresenzeServlet</servlet-name>
        <servlet-class>Servlet.GetDettagliPresenzeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RichiestaPermessoServlet</servlet-name>
        <servlet-class>Servlet.RichiestaPermessoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDettagliPermessiServlet</servlet-name>
        <servlet-class>Servlet.GetDettagliPermessiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRichiesteServlet</servlet-name>
        <servlet-class>Servlet.GetRichiesteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreaNotifica</servlet-name>
        <servlet-class>Servlet.CreaNotifica</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNotificheServlet</servlet-name>
        <servlet-class>Servlet.GetNotificheServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SegnaComeLettoServlet</servlet-name>
        <servlet-class>Servlet.SegnaComeLettoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOreDisponibiliServlet</servlet-name>
        <servlet-class>Servlet.CheckOreDisponibiliServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RichiestaPermessoServlet2</servlet-name>
        <servlet-class>Servlet.RichiestaPermessoServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserisciNuovoUtente</servlet-name>
        <servlet-class>Servlet.InserisciNuovoUtente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUtenteServlet</servlet-name>
        <servlet-class>Servlet.GetUtenteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstraiExcel</servlet-name>
        <servlet-class>Servlet.EstraiExcel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SavePresenceServlet</servlet-name>
        <url-pattern>/SavePresenceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadAllegatoServlet</servlet-name>
        <url-pattern>/UploadAllegatoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaAllegatiServlet</servlet-name>
        <url-pattern>/VisualizzaAllegatiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDipendentiPresenzaServlet</servlet-name>
        <url-pattern>/GetDipendentiPresenzaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTurniDipendentiServlet</servlet-name>
        <url-pattern>/GetTurniDipendentiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadFile</servlet-name>
        <url-pattern>/DownloadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDettagliPresenzeServlet</servlet-name>
        <url-pattern>/GetDettagliPresenzeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RichiestaPermessoServlet</servlet-name>
        <url-pattern>/RichiestaPermessoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDettagliPermessiServlet</servlet-name>
        <url-pattern>/GetDettagliPermessiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRichiesteServlet</servlet-name>
        <url-pattern>/GetRichiesteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreaNotifica</servlet-name>
        <url-pattern>/CreaNotifica</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNotificheServlet</servlet-name>
        <url-pattern>/GetNotificheServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SegnaComeLettoServlet</servlet-name>
        <url-pattern>/SegnaComeLettoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOreDisponibiliServlet</servlet-name>
        <url-pattern>/CheckOreDisponibiliServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RichiestaPermessoServlet2</servlet-name>
        <url-pattern>/RichiestaPermessoServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserisciNuovoUtente</servlet-name>
        <url-pattern>/InserisciNuovoUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUtenteServlet</servlet-name>
        <url-pattern>/GetUtenteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstraiExcel</servlet-name>
        <url-pattern>/EstraiExcel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error_page_404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error_page_500.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error_page_403.jsp</location>
    </error-page>
</web-app>
