<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>SavePresenceServlet</servlet-name>
        <servlet-class>Servlet.Presenze.SavePresenceServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotificaServlet</servlet-name>
        <servlet-class>Servlet.Notifica.NotificaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Servlet.Login.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizzaAllegatiServlet</servlet-name>
        <servlet-class>Servlet.Allegato.VisualizzaAllegatiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDipendentiPresenzaServlet</servlet-name>
        <servlet-class>Servlet.Presenze.GetDipendentiPresenzaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTurniDipendentiServlet</servlet-name>
        <servlet-class>Servlet.Presenze.GetTurniDipendentiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RichiestaPermessoServlet</servlet-name>
        <servlet-class>Servlet.Richiesta.RichiestaPermessoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetDettagliPermessiServlet</servlet-name>
        <servlet-class>Servlet.Richiesta.GetDettagliPermessiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetRichiesteServlet</servlet-name>
        <servlet-class>Servlet.Richiesta.GetRichiesteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RichiestaPermessoServlet2</servlet-name>
        <servlet-class>Servlet.RichiestaPermessoServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserisciNuovoUtente</servlet-name>
        <servlet-class>Servlet.Utente.InserisciNuovoUtente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetUtenteServlet</servlet-name>
        <servlet-class>Servlet.Utente.GetUtenteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetNotificheServlet</servlet-name>
        <servlet-class>Servlet.Notifica.GetNotificheServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllegatoServlet</servlet-name>
        <servlet-class>Servlet.Allegato.AllegatoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EstraiExcel</servlet-name>
        <servlet-class>Servlet.Utente.EstraiExcel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadExcel</servlet-name>
        <servlet-class>Servlet.Utente.DownloadExcel</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SavePresenceServlet</servlet-name>
        <url-pattern>/SavePresenceServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizzaAllegatiServlet</servlet-name>
        <url-pattern>/VisualizzaAllegatiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDipendentiPresenzaServlet</servlet-name>
        <url-pattern>/GetDipendentiPresenzaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTurniDipendentiServlet</servlet-name>
        <url-pattern>/GetTurniDipendentiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RichiestaPermessoServlet</servlet-name>
        <url-pattern>/RichiestaPermessoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetDettagliPermessiServlet</servlet-name>
        <url-pattern>/GetDettagliPermessiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotificaServlet</servlet-name>
        <url-pattern>/NotificaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetRichiesteServlet</servlet-name>
        <url-pattern>/GetRichiesteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RichiestaPermessoServlet2</servlet-name>
        <url-pattern>/RichiestaPermessoServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserisciNuovoUtente</servlet-name>
        <url-pattern>/InserisciNuovoUtente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetUtenteServlet</servlet-name>
        <url-pattern>/GetUtenteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetNotificheServlet</servlet-name>
        <url-pattern>/GetNotificheServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllegatoServlet</servlet-name>
        <url-pattern>/AllegatoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EstraiExcel</servlet-name>
        <url-pattern>/EstraiExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadExcel</servlet-name>
        <url-pattern>/DownloadExcel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/error_page_404.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/error_page_500.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/error_page_403.jsp</location>
    </error-page>
</web-app>
